# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Uploaded files
uploads/*
!uploads/.gitkeep

# Output files
outputs/*
!outputs/.gitkeep

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Test files
test_img.png
test_output.txt
